:root {
    --primary: #2fbf71;
    --primary-010: #21804d;

    --secondary: #06628a;
    --secondary-010: #0a4e6e;

    --white: #e7e6e6;

    --black: #10101a;
    --black-010: #2a2a30;

    --gray: #9b9ba0;
}