.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: 0.5s;
    cursor: pointer;
    &.btn-primary,
    &.btn-secondary {
        padding: 0.6rem;
        width: 15.625rem;
        height: 3.125rem;
        border-radius: 0.5rem;
        font-size: 1.25rem;
        font-weight: 700;
        transition: 0.5s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &.btn-primary {
        background-color: var(--primary);
        color: var(--black-010);
        &:hover {
            background-color: var(--primary-010);
            color: var(--white);
        }
    }
    &.btn-secondary {
        background-color: var(--secondary);
        color: var(--white);
        &:hover {
            background-color: var(--secondary-010);
        }
    }
    img {
        margin-right: 1rem;
    }
}


