<div class="container">
  <div class="content">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab *ngIf="isMobile$ | async" label="Perfil">
        <app-aside></app-aside>
      </mat-tab>

      <mat-tab label="Experiência Profissional">
        <section class="content__professional__xp">
          <h2 class="content__professional__xp__title">Experiência Profissional</h2>

          <article
            class="content__professional__xp__item"
            *ngFor="let job of resume.experience"
          >
            <h3 class="content__professional__xp__item__title">{{ job.title }}</h3>
            <h3 class="content__professional__xp__item__function">{{ job.function }}</h3>
            <p class="content__professional__xp__item__date">{{ job.date }}</p>
            <ul class="content__professional__xp__item__description">
              <li *ngFor="let line of job.description">{{ line }}</li>
            </ul>
          </article>
        </section>
      </mat-tab>

      <mat-tab label="Formação Acadêmica">
        <section class="content__professional__hb">
          <h2 class="content__professional__hb__title">Formação Acadêmica</h2>

          <article
            class="content__professional__hb__item"
            *ngFor="let course of resume.education"
          >
            <h3 class="content__professional__hb__item__title">{{ course.title }}</h3>
            <h3 class="content__professional__hb__item__institution">{{ course.institution }}</h3>
            <p class="content__professional__hb__item__date">{{ course.date }}</p>
            <ul class="content__professional__hb__item__description">
              <li *ngFor="let line of course.description">{{ line }}</li>
            </ul>
          </article>
        </section>
      </mat-tab>

      <mat-tab label="Pesquisa">
        <section class="content__research">
          <h2 class="content__research__title">Pesquisa</h2>

          <article class="content__research__item">
            <h3 class="content__research__item__title">{{ resume.research.title }}</h3>
            <p class="content__research__item__source">{{ resume.research.source }}</p>
            <p *ngFor="let paragraph of resume.research.paragraphs">{{ paragraph }}</p>
          </article>
        </section>
      </mat-tab>

      <mat-tab label="Habilidades">
        <section class="content__professional__hb">
          <h2 class="content__professional__hb__title">Habilidades</h2>

          <div class="content__professional__hb__item">
            <ul class="content__professional__hb__item__description">
              <li *ngFor="let skill of resume.skills">
                <span class="content__professional__hb__description__span">{{ skill.label }}</span>
                {{ skill.description }}
              </li>
            </ul>
          </div>
        </section>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
