<div class="container">
  <div class="content">
    <div class="tabs__mobile">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab class="perfil" label="Perfil">
          <app-aside />
        </mat-tab>
        <mat-tab label="Experiência Profissional">
          <div class="content__professional__xp">
            <h2 class="content__professional__xp__title">Experiência Profissional</h2>
            <div class="content__professional__xp__item">
              <h3 class="content__professional__xp__item__title">
                Maple Bear Jardins
              </h3>
              <h3 class="content__professional__xp__item__function">
                Professor de Programação
              </h3>
              <p class="content__professional__xp__item__date">2023 - Atual</p>
              <ul class="content__professional__xp__item__description">
                <li>
                  Ensino de programação para alunos de diferentes faixas etárias, com
                  foco em lógica, algoritmos e linguagem Python.
                </li>
                <li>
                  Desenvolvimento de planos de aula e projetos práticos para facilitar
                  o aprendizado e aplicação dos conceitos de programação.
                </li>
                <li>
                  Utilização de métodos de ensino baseados em projetos para promover o
                  desenvolvimento de habilidades de resolução de problemas.
                </li>
                <li>
                  Implementação de atividades interativas e colaborativas para engajar
                  os alunos e estimular o pensamento crítico e a criatividade.
                </li>
                <li>
                  Avaliação contínua do progresso dos alunos, fornecendo feedback
                  construtivo e ajustando as abordagens pedagógicas conforme
                  necessário.
                </li>
                <li>
                  Organização de eventos e workshops para incentivar a participação
                  dos alunos em competições de programação e feiras de ciências.
                </li>
                <li>
                  Colaboração com outros professores e membros da equipe para criar um
                  ambiente de aprendizado integrado e de suporte.
                </li>
              </ul>
            </div>
            <div class="content__professional__xp__item">
              <h3 class="content__professional__xp__item__title">
                Colégio 14 de Julho
              </h3>
              <h3 class="content__professional__xp__item__function">
                Professor de Matemática
              </h3>
              <p class="content__professional__xp__item__date">2024 - Atual</p>
              <ul class="content__professional__xp__item__description">
                <li>
                  Leciono matemática para alunos do 6º ano, utilizando materiais
                  lúdicos e aulas interativas para promover um aprendizado engajador e
                  significativo.
                </li>
                <li>
                  Planejo e conduzo atividades que visam o desenvolvimento integral
                  dos estudantes, incentivando a curiosidade e o pensamento crítico.
                </li>
                <li>
                  Ministro aulas de Itinerário Formativo de Matemática para o Ensino
                  Médio, com foco em Matemática Financeira e Geometria.
                </li>
                <li>
                  Nas aulas de Matemática Financeira, abordo conceitos essenciais e
                  realizo simulações de investimentos financeiros para ensinar os
                  alunos sobre o funcionamento do mercado de investimentos.
                </li>
                <li>
                  Desenvolvo planos de aula que combinam teoria e prática, facilitando
                  a compreensão dos conceitos matemáticos e sua aplicação no
                  cotidiano.
                </li>
                <li>
                  Utilizo tecnologias e ferramentas educacionais modernas para
                  enriquecer o processo de ensino-aprendizagem e tornar as aulas mais
                  dinâmicas.
                </li>
                <li>
                  Avalio o progresso dos alunos de forma contínua, fornecendo feedback
                  construtivo e estratégias personalizadas para melhoria.
                </li>
                <li>
                  Participo ativamente de reuniões pedagógicas e colaborações com a
                  equipe escolar para garantir a qualidade e a coesão do currículo.
                </li>
              </ul>
            </div>
            <div class="content__professional__xp__item">
              <h3 class="content__professional__xp__item__title">
                Colégio Dom Bosco - Objetivo
              </h3>
              <h3 class="content__professional__xp__item__function">
                Professor de Matemática
              </h3>
              <p class="content__professional__xp__item__date">2018 - 2021</p>
              <ul class="content__professional__xp__item__description">
                <li>
                  Ensino de matemática para alunos do ensino fundamental e médio,
                  utilizando metodologias ativas para tornar as aulas mais dinâmicas e
                  interativas.
                </li>
                <li>
                  Coordenação e ministração de curso preparatório para as Olimpíadas
                  de Matemática, promovendo o desenvolvimento de habilidades avançadas
                  e o espírito competitivo entre os alunos.
                </li>
                <li>
                  Treinamento de professores durante a pandemia, fornecendo
                  orientações sobre ferramentas e técnicas para a realização de aulas
                  online eficientes.
                </li>
                <li>
                  Suporte técnico e pedagógico na implementação do sistema de aulas
                  online da escola, garantindo uma transição suave para o ensino
                  remoto.
                </li>
                <li>
                  Criação de materiais didáticos e recursos digitais para facilitar o
                  aprendizado dos alunos durante o ensino a distância.
                </li>
                <li>
                  Avaliação e acompanhamento do desempenho dos alunos, oferecendo
                  feedback individualizado e estratégias de melhoria contínua.
                </li>
                <li>
                  Participação em reuniões pedagógicas e colaborações com a equipe
                  escolar para alinhar objetivos e práticas educacionais.
                </li>
              </ul>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Formação Acadêmica">
          <div class="content__professional__hb">
            <h2 class="content__professional__hb__title">Formação Acadêmica</h2>
            <div class="content__professional__hb__item">
              <h3 class="content__professional__hb__item__title">
                Licenciatura em Matemática com Habilitação em Física
              </h3>
              <h3 class="content__professional__hb__item__institution">
                Faculdade de Taboão da Serra
              </h3>
              <p class="content__professional__hb__item__date">2007 - 2009</p>
              <ul class="content__professional__hb__item__description">
                <li>
                  Formação acadêmica sólida em matemática pura e aplicada, com ênfase
                  em geometria, álgebra, cálculo e estatística.
                </li>
                <li>
                  Participação em projetos de pesquisa e extensão, desenvolvendo
                  habilidades de investigação e aplicação prática dos conceitos
                  matemáticos.
                </li>
                <li>
                  Realização de estágio supervisionado em escolas públicas e privadas,
                  adquirindo experiência prática em sala de aula e desenvolvendo
                  habilidades pedagógicas.
                </li>
                <li>
                  Participação em eventos acadêmicos e seminários, ampliando o
                  conhecimento e a rede de contatos na área da matemática.
                </li>
              </ul>
            </div>
          </div> 
        </mat-tab>
        <mat-tab label="Habilidades">
          <div class="content__professional__hb">
            <h2 class="content__professional__hb__title">Habilidades</h2>
            <div class="content__professional__hb__item">
              <ul class="content__professional__hb__item__description">
                <li>
                  <span class="content__professional__hb__description__span">Domínio de Conteúdo Matemático:</span> Profundo conhecimento
                  em diversas áreas da matemática, incluindo álgebra, geometria,
                  trigonometria, cálculo e matemática financeira.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Planejamento de Aulas:</span> Capacidade de desenvolver
                  planos de aula estruturados e eficazes que atendam aos objetivos
                  curriculares e às necessidades dos alunos.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Metodologias de Ensino:</span> Competência em utilizar
                  diferentes metodologias de ensino, como aprendizagem baseada em
                  projetos, ensino lúdico, e abordagens interativas para engajar os
                  alunos.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Comunicação:</span> Excelentes habilidades de comunicação
                  verbal e escrita, essenciais para explicar conceitos matemáticos
                  complexos de maneira clara e acessível.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Gestão de Sala:</span> de Aula Capacidade de manter um
                  ambiente de aprendizagem positivo e produtivo, gerenciando o
                  comportamento dos alunos e promovendo a disciplina.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Resolução de Problemas:</span> Habilidade em ensinar e
                  incentivar os alunos a desenvolverem habilidades de resolução de
                  problemas através de desafios e atividades práticas.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Desenvolvimento Profissional:</span> Compromisso com o
                  aprendizado contínuo e o desenvolvimento profissional, mantendo-se
                  atualizado com as melhores práticas pedagógicas e novas tendências na
                  educação matemática.
                </li>
              </ul>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="tabs__tablet__computer">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Experiência Profissional">
          <div class="content__professional__xp">
            <h2 class="content__professional__xp__title">Experiência Profissional</h2>
            <div class="content__professional__xp__item">
              <h3 class="content__professional__xp__item__title">
                Maple Bear Jardins
              </h3>
              <h3 class="content__professional__xp__item__function">
                Professor de Programação
              </h3>
              <p class="content__professional__xp__item__date">2023 - Atual</p>
              <ul class="content__professional__xp__item__description">
                <li>
                  Ensino de programação para alunos de diferentes faixas etárias, com
                  foco em lógica, algoritmos e linguagem Python.
                </li>
                <li>
                  Desenvolvimento de planos de aula e projetos práticos para facilitar
                  o aprendizado e aplicação dos conceitos de programação.
                </li>
                <li>
                  Utilização de métodos de ensino baseados em projetos para promover o
                  desenvolvimento de habilidades de resolução de problemas.
                </li>
                <li>
                  Implementação de atividades interativas e colaborativas para engajar
                  os alunos e estimular o pensamento crítico e a criatividade.
                </li>
                <li>
                  Avaliação contínua do progresso dos alunos, fornecendo feedback
                  construtivo e ajustando as abordagens pedagógicas conforme
                  necessário.
                </li>
                <li>
                  Organização de eventos e workshops para incentivar a participação
                  dos alunos em competições de programação e feiras de ciências.
                </li>
                <li>
                  Colaboração com outros professores e membros da equipe para criar um
                  ambiente de aprendizado integrado e de suporte.
                </li>
              </ul>
            </div>
            <div class="content__professional__xp__item">
              <h3 class="content__professional__xp__item__title">
                Colégio 14 de Julho
              </h3>
              <h3 class="content__professional__xp__item__function">
                Professor de Matemática
              </h3>
              <p class="content__professional__xp__item__date">2024 - Atual</p>
              <ul class="content__professional__xp__item__description">
                <li>
                  Leciono matemática para alunos do 6º ano, utilizando materiais
                  lúdicos e aulas interativas para promover um aprendizado engajador e
                  significativo.
                </li>
                <li>
                  Planejo e conduzo atividades que visam o desenvolvimento integral
                  dos estudantes, incentivando a curiosidade e o pensamento crítico.
                </li>
                <li>
                  Ministro aulas de Itinerário Formativo de Matemática para o Ensino
                  Médio, com foco em Matemática Financeira e Geometria.
                </li>
                <li>
                  Nas aulas de Matemática Financeira, abordo conceitos essenciais e
                  realizo simulações de investimentos financeiros para ensinar os
                  alunos sobre o funcionamento do mercado de investimentos.
                </li>
                <li>
                  Desenvolvo planos de aula que combinam teoria e prática, facilitando
                  a compreensão dos conceitos matemáticos e sua aplicação no
                  cotidiano.
                </li>
                <li>
                  Utilizo tecnologias e ferramentas educacionais modernas para
                  enriquecer o processo de ensino-aprendizagem e tornar as aulas mais
                  dinâmicas.
                </li>
                <li>
                  Avalio o progresso dos alunos de forma contínua, fornecendo feedback
                  construtivo e estratégias personalizadas para melhoria.
                </li>
                <li>
                  Participo ativamente de reuniões pedagógicas e colaborações com a
                  equipe escolar para garantir a qualidade e a coesão do currículo.
                </li>
              </ul>
            </div>
            <div class="content__professional__xp__item">
              <h3 class="content__professional__xp__item__title">
                Colégio Dom Bosco - Objetivo
              </h3>
              <h3 class="content__professional__xp__item__function">
                Professor de Matemática
              </h3>
              <p class="content__professional__xp__item__date">2018 - 2021</p>
              <ul class="content__professional__xp__item__description">
                <li>
                  Ensino de matemática para alunos do ensino fundamental e médio,
                  utilizando metodologias ativas para tornar as aulas mais dinâmicas e
                  interativas.
                </li>
                <li>
                  Coordenação e ministração de curso preparatório para as Olimpíadas
                  de Matemática, promovendo o desenvolvimento de habilidades avançadas
                  e o espírito competitivo entre os alunos.
                </li>
                <li>
                  Treinamento de professores durante a pandemia, fornecendo
                  orientações sobre ferramentas e técnicas para a realização de aulas
                  online eficientes.
                </li>
                <li>
                  Suporte técnico e pedagógico na implementação do sistema de aulas
                  online da escola, garantindo uma transição suave para o ensino
                  remoto.
                </li>
                <li>
                  Criação de materiais didáticos e recursos digitais para facilitar o
                  aprendizado dos alunos durante o ensino a distância.
                </li>
                <li>
                  Avaliação e acompanhamento do desempenho dos alunos, oferecendo
                  feedback individualizado e estratégias de melhoria contínua.
                </li>
                <li>
                  Participação em reuniões pedagógicas e colaborações com a equipe
                  escolar para alinhar objetivos e práticas educacionais.
                </li>
              </ul>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Formação Acadêmica">
          <div class="content__professional__hb">
            <h2 class="content__professional__hb__title">Formação Acadêmica</h2>
            <div class="content__professional__hb__item">
              <h3 class="content__professional__hb__item__title">
                Licenciatura em Matemática com Habilitação em Física
              </h3>
              <h3 class="content__professional__hb__item__institution">
                Faculdade de Taboão da Serra
              </h3>
              <p class="content__professional__hb__item__date">2007 - 2009</p>
              <ul class="content__professional__hb__item__description">
                <li>
                  Formação acadêmica sólida em matemática pura e aplicada, com ênfase
                  em geometria, álgebra, cálculo e estatística.
                </li>
                <li>
                  Participação em projetos de pesquisa e extensão, desenvolvendo
                  habilidades de investigação e aplicação prática dos conceitos
                  matemáticos.
                </li>
                <li>
                  Realização de estágio supervisionado em escolas públicas e privadas,
                  adquirindo experiência prática em sala de aula e desenvolvendo
                  habilidades pedagógicas.
                </li>
                <li>
                  Participação em eventos acadêmicos e seminários, ampliando o
                  conhecimento e a rede de contatos na área da matemática.
                </li>
              </ul>
            </div>
          </div> 
        </mat-tab>
        <mat-tab label="Habilidades">
          <div class="content__professional__hb">
            <h2 class="content__professional__hb__title">Habilidades</h2>
            <div class="content__professional__hb__item">
              <ul class="content__professional__hb__item__description">
                <li>
                  <span class="content__professional__hb__description__span">Domínio de Conteúdo Matemático:</span> Profundo conhecimento
                  em diversas áreas da matemática, incluindo álgebra, geometria,
                  trigonometria, cálculo e matemática financeira.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Planejamento de Aulas:</span> Capacidade de desenvolver
                  planos de aula estruturados e eficazes que atendam aos objetivos
                  curriculares e às necessidades dos alunos.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Metodologias de Ensino:</span> Competência em utilizar
                  diferentes metodologias de ensino, como aprendizagem baseada em
                  projetos, ensino lúdico, e abordagens interativas para engajar os
                  alunos.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Comunicação:</span> Excelentes habilidades de comunicação
                  verbal e escrita, essenciais para explicar conceitos matemáticos
                  complexos de maneira clara e acessível.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Gestão de Sala:</span> de Aula Capacidade de manter um
                  ambiente de aprendizagem positivo e produtivo, gerenciando o
                  comportamento dos alunos e promovendo a disciplina.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Resolução de Problemas:</span> Habilidade em ensinar e
                  incentivar os alunos a desenvolverem habilidades de resolução de
                  problemas através de desafios e atividades práticas.
                </li>
                <li>
                  <span class="content__professional__hb__description__span">Desenvolvimento Profissional:</span> Compromisso com o
                  aprendizado contínuo e o desenvolvimento profissional, mantendo-se
                  atualizado com as melhores práticas pedagógicas e novas tendências na
                  educação matemática.
                </li>
              </ul>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
